#logo{
  display: inline-;
}

#titulo{
}

#title-wrap {
  width: auto;
  height: auto;
  color:white;
}

header {
  font-family: Georgia;
  color:white;
  background-color:#6259c6;
  width:100%;
  height:300px;
}
