body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input {
  width: 100%;
}
button {
  display: block;
  background-color: white;
  border: none;
  color: black;
  padding: 8px 10px 8px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 42.2%;
  margin-right: 30%
}

button:hover{
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

button#pass {
  margin-top: 25px;
  margin-left: 44%;
}

button#pass:hover{
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

button#ok{
  margin-top: 23px;
  margin-left: 44.5%;
  margin-bottom: 27px
}

form > p {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}
.center {
  margin: auto;
  top: 18%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 290px;
  border-style:solid;
  border-width:2px;
  border-radius:15px;
  background-color:#6259c6;
  color:white;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 25px;
  text-align:center;
  margin-left: 38.5%;
  margin-top: 18%;
}

a {
  color: white;
  text-decoration: bold;
}

a#voltar {

}
