body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#F7F7FF;
}

footer h3 {
	font-size: 1.17em;
}

.topo-discussao img {
	width:100px;
}

.topo-discussao h2 {
	display:inline;
}

.modal {
	max-width: 700px;
}

#descricao-add {
	width: 600px;
	resize: none;
}

.far.fa-edit, .far.fa-save {
	display:inline;
	padding-left: 40px;
}

#temaLab, #descricaoLab, #nomeLab, #adminLab {
	display:inline;
}


.membro-lab {
	float:left;
}

.img-membro {
	width: 80px;
}


p.clear {
    clear: both;
	padding-top:10px;
	padding-bottom:10px;
}

p.padb5 {
	clear:both;
	padding-bottom:5px;
}

p.clear-float {
    clear: both;
}

main#content {
	width:80%;
	margin:0px auto;
	margin-bottom: 100px;
	padding:50px;
	box-sizing: border-box;
	background-color:white;
}

#nomeLab {
	color:#6259C6;
}

#nomeLab, #temaLab, #descricaoLab, #adminLab {
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
}

.center {
	width:100%;
	text-align:center;
	margin:0px auto;
}

#editNomeIcon, #editTemaIcon, #editDescricaoIcon {
	font-size:150%;
}


.dadosLabTitle {
	font-weight:bold;
	font-size:140%;
}


.membro-lab a {
	text-decoration:none;
	color:black;
}

.membro-lab a:hover {
	text-decoration:underline;
}


.membro-lab {
	width:150px;
	text-align:center;
	overflow-wrap: break-word;
	border-right:2px dotted #6259C6;
}

#link-parceiros {
	text-decoration:none;
	color:black;
}

#link-parceiros:hover {
	text-decoration:underline;
}

.discussao-lab {
	background-color:#6259C6;
	padding-bottom: 30px;
}

.conteudo-discussao {
	background-color:white;
	width:93%;
	margin:0px auto;
	height: 150px;
    overflow: hidden;
	padding:10px;
	box-sizing: border-box;
}

.topo-discussao {
	color:white;
	box-sizing: border-box;
    padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.topo-discussao h2 a {
	text-decoration:none;
	color:white;
}

.topo-discussao h2 a:hover {
	text-decoration:underline;
}


.botoes-discussao .editDiscBtn,
.botoes-discussao .removeDiscBtn,
.botoes-discussao .fixDiscBtn {
	width:100px;
	margin-bottom: 20px;
	background-color: white;
    border: 2px solid grey;
}

.botoes-discussao .editDiscBtn a {
	color: black;
	text-decoration:none;
}
	
.botoes-discussao {
	float: right;
    max-width: 100px;
}

.topo-discussao img, .topo-discussao h2, .topo-discussao p {
	float:left;
}

.topo-discussao h2 {
    position: relative;
    top: 16px;
	left: 16px;
}

.topo-discussao p {
	position: relative;
    left: 45px;
    top: 25px;
}


#add-membro a {
	text-decoration:none;
	color:black;
}

#add-membro a button, #add-disc-link button {
	background-color: white;
    border: 2px solid grey;
	padding: 5px;
}

#add-membro a button i, #add-disc-link i {
	padding-right: 5px;
}

#btn-search {
	display:none;
}


#search-discussoes {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding-left:10px;
	padding-right:10px;
	width:300px;
}

#search-discussoes::placeholder { 
    color: #a0a0a0;
}


#add-disc-link {
	text-decoration:none;
	color:black;
	float:right;
}

#add-disc-link button {
	padding:10px;
}

#emailAddMembro {
	width:100%;
}

#salvarMembro, #btn-addDisc {
	background-color:#6AA84F;
	color:white;
	float:right;
	padding:10px;
	border-radius:5px;
}

#salvarMembro i, #btn-addDisc i {
	padding:0px;
	padding-right:5px;
	font-size:150%;
}

#titulo-add {
	width:100%;
}

#publica-add {
	width:200px;
}